body {
  margin: 2%;
  font-family: -apple-system, Fira Sans, "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.price-section {
  padding: 1%;
}

.modal {
  border: solid 3px rgb(2, 1, 1);
  border-radius: 10px;
  max-width: 336px;
  height: 80px;
  padding: 1%;
}

input[type="number"] {
  text-align: right;
}
